main{
    display: flex;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.front, .back{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin: 2%;
    filter: drop-shadow();
}
.front{
    min-height: 500px;
    min-width: 800px;
    max-width: 950px;
    background-color: rgb(141, 139, 255);
}
.back{
    min-height: 180px;
    min-width: 800px;
    max-width: 950px;
    background-color: rgb(29, 28, 129);
    color: antiquewhite;
    margin-top: 2%;
}
.table-headings, .table-info{
    display: flex;
    flex-direction: row;
}
.table-headings{
    justify-content: space-around;
}
h1{
    font-size: 23px;
}
.pic{
    height: 240px;
    width: 190px;
    border-radius: 10px;
    margin:2%;
    border: 4px solid rgb(7, 7, 103);
}
.urls{
    padding: 15%;
}
.github{
    height: 25px;
    border-radius: 50%;
    margin:1%;
    border: 3px dotted rgb(163, 14, 14);
}
a{
    text-decoration: none;
    color: rgb(90, 0, 39);
    padding: 2%;
}
.num,.email,.adr{
    padding: 1%;
    border-radius: 10px;
    color: rgb(86, 9, 145);
}
.num,.email{
    border: 1px solid white;
}
.adr{
    border: 1px dashed white;
}
h2{
    padding: 10% 2% 0 0;
    font-size: larger;
}
h3{
    padding: 7%;
}
ol{
    padding: 2%;
}
li{
    list-style-type:none;
    padding: 2%;
    color: rgb(255, 253, 136);
}